<!doctype html>
<html>
<head>  <link rel="stylesheet" href="{{ url_for('static', filename = 'css.css') }}"></head>
<body>
  <a href="/books">Books</a>      </br>
  <a href="/borrowed">Borrowed</a></br>
  </br>
  <h3>Książka z biblioteki rodu Pęcaków</h3>
  <p><i>{{ title }} </i> <br></p>
  <p>Autor: {{ author }} </p>
  {% if status != None %}
  <p>{{ status }} </p>
  {%endif%}

  {% if (startday != None) and  (noOfDays != None)%}
  <p>Data wypożyczenia: {{startday}} ({{noOfDays}})</p>
  {% endif %}
</body>
</html>
