<!doctype html>
<html>
<head>  <link rel="stylesheet" href="{{ url_for('static', filename = 'css.css') }}"></head>
<body>
  <a href="/books">Books</a>      </br>
  <a href="/borrowed">Borrowed</a></br>
  </br>
  <h3>Stan biblioteki: {{ noofbooks }} pozycji</h3>
  <table>
    <!-- <thead> -->
      <tr>  <td>Tytuł</td>    <td>Autor</td>    <td>Dostępność</td>    </tr>
    <!-- </thead> -->    
    {% for row in status %}
      <tr><td class='booktitle'>{{ row[0] }}</td>
      <td>{{ row[1] }}</td>
      <td {% if row[2] %} class='stress'{% endif %}> {{ row[3] }}  </td></tr>
    {% endfor %}
  </table>
  
  <h3>Statystyka autorów</h3>

  <table border = 1>
    <!-- <thead> -->
    <tr>  <td>Autor</td>    <td>Ile książek</td>    </tr>
    <!-- </thead> -->
    
    {% for row in stats %}
        <tr><td>{{row[0]}}</td><td>{{row[1]}}</td></tr>
    {% endfor %}
  </table>
  
</body>
</html>